*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    padding: 2rem;
    border-radius: 0.9rem;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    background-color: rgba(73, 169, 207, 0.598);
     /* clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); */
}
.header{
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    
    
}
.logo{
    font-size: 2.8rem;
    color: rgb(2, 2, 94);
    font-weight: bold;
    font-family: serif;
}
    

.main-nav:link,
.main-nav:visited{
    text-decoration: none;
    color: rgb(2, 2, 94);
    font-size:1.5rem ;
    padding: 0.7rem;
    font-weight: 500;
}
.main-nav:hover,
.main-nav:active{
    color: rgb(2, 2, 148);
    font-weight: bold;
}
.icon{
    font-size: 2.5rem;
    padding: 1.5rem 2rem;
    color: #fff;
    background-color:rgb(2, 2, 94) ;
}
.icon:hover{
    font-size: 3rem;
}
.header-heading{
font-size: 6.6rem;
text-transform: capitalize;
color: rgb(1, 1, 43);
font-family: serif;
margin-bottom: 2.5rem;
line-height: 1;
text-shadow: 0.1rem 0.1rem 0.2rem #fff;
}
.header-para{
    font-size: 2rem;
    color: rgb(1, 1, 43);
    padding-right: 2rem;
}
.header-btn{
background-color: rgba(1, 1, 43);
color: #fff;
padding: 1.5rem 4rem;
margin-top:4rem;
font-size: 2rem;
border:none;
}
.header-btn:hover{
    background-color:navy ;
}


.container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:5rem 10rem;
}
.hero-img{
    height: 50rem;
    width: 28rem;
    padding-bottom: 13rem;
    transition: all .1s;
    overflow: hidden;
    
}


.hero-img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.hero-section{
    position: relative;
    
}

.hero-section::after{
    
    content: "⬇";
    display: inline-block;
    background-color: rgb(1, 1, 43);
    padding: 2rem 4rem;
    color: #fce2e2;
    font-size: 2.5rem;
    position: absolute;
    right: -38rem;
    top: 31rem;
    

}
    
.featured{
    margin: 7rem;
}

.featured-para{
    text-align: center;
    font-family: serif;
    font-size: 6.2rem;
    color: rgb(1, 1, 43);
    text-transform: capitalize;
    font-weight: bold;
}
    .featured-img{

        margin-top: 7rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: -2rem;
        overflow: hidden;
    }
    .featured-image{
        height: 28rem;
        width: 25rem;
    }

    .featured-image-para{
color: rgba(13, 13, 118, 0.93);
font-size: 1.5rem;
text-align: center;
padding-top: 1.5rem;
text-transform: capitalize;
font-weight: bold;

    }

.featured-price{
font-size: 2rem;
text-align: center;
padding: 0.5rem;
color:rgba(13, 13, 118, 0.93) ;
    }
    .image-1,
    .image-2,
    .image-3{
        height: 35rem;
        background-color:#fff;
        box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.13);
        transition: all 0.2s;
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .image-1:hover,
    .image-2:hover,
    .image-3:hover{
transform: scale(1.1);
    }

    .brand-section{
        background-color:rgba(73, 169, 207, 0.598) ;
        height: 95vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        margin-top: 15rem;
    }
.brand-image{
    height: 45rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.167);
    /* margin-top: 5rem;
    margin-left: 5rem; */
}
    .brand-heading{
color: rgb(1, 1, 43);
font-family: sarif;
font-size: 6.4rem;
text-transform: capitalize;
margin-bottom: 2rem;
    }
    .brand-para{
color: rgb(1, 1, 43);
font-size: 1.8rem;
    }
    .span-review{
color: rgb(1,1,43);
font-size: 1.5rem;
border: 0.1rem solid rgb(1, 1, 43);
padding: 3rem 2rem;
text-align: center;
margin-left: -12rem;
font-family: serif;
    }


    strong{
        font-size: 3rem;
        display: block;
    }
    .review{
        display: flex;
        justify-content: space-around;
        /* margin-top: 3rem; */
        padding: 5rem;
        
    }
    .product{
        color: #fff;
        background-color: rgba(1, 1, 43);
        font-weight:200 ;
    }


 .span-review:hover{
    transform: scale(1.1);
 }
.brand-section::after{
    content: "Explore Now !";
    display: inline-block;
    color: rgb(1, 1, 43);
    padding: 1.5rem 2rem;
    background-color: #fce2e2;
    font-size: 1.5rem;
    position: absolute;
    top: 42rem;
    left: 17rem;
}
.seller-image-1{

margin-top: 5rem;
overflow: hidden;
}
.section-heading{
    font-size: 6.2rem;
    font-family: serif;
    text-align: center;
    color: rgb(1, 1, 43);
    margin-top: 7rem;
    text-transform: capitalize;
    font-weight: bold;
}
.seller-list{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 2.4rem 45rem;
list-style: none;
}
.seller-main-list{
font-size: 1.2rem;
color: rgb(1, 1, 43);
}
.seller-main-list:hover{
text-decoration: underline;

}
.seller-images{
display: flex;
/* justify-content: space-around; */
gap: 2rem;
padding: 0 20rem;
overflow: hidden;

}
.seller-image-name{
font-size:1.2rem;
color:rgb(1, 1, 43);
padding: 0.5rem;
text-transform: uppercase;
text-align: center;
}
.seller-image-price{
    font-size: 1.8rem;
    color: rgb(1, 1, 43);
    font-weight: bold;
    font-family: serif;
    text-align: center;
}
.seller-photo{
    height: 32rem;
    overflow: hidden;


}
.seller-photo:hover{
    transform: scale(1.1);
}
.girl{
    width:25rem ;
}
.top{
width: 23rem;
}
.coat{
width: 25rem;
}
.dress{
width: 25rem;
}
.deal{
    margin-top: 10rem;
height: 60rem;
background-color: rgba(73, 169, 207, 0.598);

display: flex;
justify-content: space-around;
padding: 5rem 5rem;
}
.deal-photo{
    height: 45rem;
    display: inline-block;
    margin-top: 4rem;
}
.deal-heading{
font-size: 5.6rem;
color: rgb(1, 1, 43);
font-family: serif;
text-transform: capitalize;
font-weight: bold;
margin: 8rem 8rem 2rem 8rem;
}
.deal-para{
color: rgb(1, 1, 43);
font-size: 1.5rem;
padding: 1rem 1rem 3rem 8rem;
}
.deal-span{
    padding: 2.8rem;
    color: #fff;
    background-color: rgb(1, 1, 43);
    font-size: 2rem;
    margin-right: 1rem;
    font-family: serif;
    transition: all 0.1s;
}
.deal-span:hover{
    background-color: rgb(2, 2, 148);
    transform: scale(1.2);
}
.deal-days{
    margin:6rem 6rem 6rem 6rem;
}
.deal-btn{
    margin-left: 17rem;
    margin-top:1.8rem ;
}
.footer{
    height: 40rem;
    background-color:rgb(1, 1, 43) ;
    color: #faf9f9a1;
}
.footers{
    display: flex;
    justify-content: space-around;
}
.footer-1{
    margin-top: 8rem;
}
.fashion{
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #fff;
}
.fashion-para{
    padding-top: 2rem;
    font-size: 1.3rem;
}
.company{
margin-top:8rem ;
}
.companys{
font-size:1.8rem ;
margin-bottom: 1.7rem;
text-transform: capitalize;
}
.companys:hover{
    color: #fff;
    text-decoration: underline;
}
.footer-list{
    list-style: none;
    font-size: 1.5rem;
    text-transform: capitalize;
   
    margin-bottom: 0.7rem;
}
.footer-list:hover{
    color: #fff;
}

.social{
    color:#faf9f9a1;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
}
.social:hover{
    color: #fff;
}
hr{
    margin-top: 7rem;
}
.copyright{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 3rem;
    text-transform: capitalize;
}